@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


:root{
  --aspiro-main-white:white;
  --aspiro-main-blue:#0d64fe;
  --aspiro-secondary-blue:#a8d4f9;
  --aspiro-cluttered:#f1f2f4;
  --aspiro-cluttered-text:#747171;
  --aspiro-cluttered-light:#7d7979;

  --admin-main-theme:#ff8e29;
  --admin-secondary-theme:#fff4ea;
  --admin-gray-theme:#f5f5f5;

}

*{
  font-family: 'Poppins', sans-serif;
}

.bg-main{
  background-color: var(--admin-main-theme);
}
.bg-secondary{
  background-color: var(--admin-secondary-theme);
}
.bg-gray{
  background-color: var(--admin-gray-theme);
}
.bg-cluttered{
  background-color: var(--aspiro-cluttered);
}
.bg-aspiro-main{
  background-color: var(--aspiro-main-blue);
}
.color-aspiro-main{
  background-color: var(--aspiro-main-blue);
}
.brand-text{
  font-size: 2rem;
  font-family: "IBM Plex Sans", sans-serif;
}
.text-poppins{
  font-family: "Poppins", sans-serif;
}
.text-ibm-plex-sans{
  font-family: "IBM Plex Sans", sans-serif;
}
.color-aspiro-secondary{
  color: var(--aspiro-secondary-blue);
}

button:disabled{
  cursor: not-allowed;
}
button{
  cursor: pointer;
}
.aspiro-guide-tile:hover{
  background: white;
}
.aspiro-guide-tile:hover .icon-wrapper{
  background: #0d64fe;
}
.aspiro-guide-tile:hover .fa-solid{
  color: white;
}
.cluttered-text {
  color: var(--aspiro-cluttered-text);
}
.aspiro-container{
  padding-left: 120px;
  padding-right: 120px;
}
.ring-shadow{
  box-shadow: 0 0 6px 12px rgba(0, 0, 0, 0.6);
}
.store-details {
  overflow-y: hidden;
}
input:read-only{
  background: rgba(98, 93, 93, 0.582);
}